* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$btn_bgc: #30384b;
$btn_color: #fff;

@mixin todoInput {
    border: none;
    border-radius: 0.5rem;
    padding: 5px;
    margin: auto;
    
    width: 50%;
}

@mixin todoBtn {
    border-radius: 0.3rem;
    width: 20%;
    height: 2rem;
    margin: auto;
    background-color: transparent;
    color: #999;
    transition: .3s ease;
    border: 1px solid #eee;

    &:hover {
        filter: drop-shadow( 0 4px 8px 0 rgba(0, 0, 0, 0.3));
        color:#fff;
    }

    &:active {
        transform: translateY(3px);
    }
}

.todoListContainer {
    width: 50%;
    margin: 1rem;
    color: #eee;

    .adduser {
        margin: auto;

        .todoHeader {
            margin-bottom: 2rem;
            h1 {
                text-align: center;
            }
        }

        .adduserContent {
            display: flex;
            justify-content: center;
            width: 80%;
            margin: auto;
            gap: 0.3rem;

            input {
                @include todoInput();
                
                &.addTodoList{
                    width: 15rem;
                }
                &.addWorkingTime, &.addBreakTime{
                    width: 5rem;
                }
            }

            button {
                @include todoBtn();
            }
        }
    }

    .displayUsers {
        margin-top: 2rem;

        .ListCard {
            margin: auto;
            margin-top: 1rem;
            width: 80%;
            // height: 10rem;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            transition: .3s ease;

            &:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
                transform: translate(-3px, -3px);
            }
            .listCardContent{
                display: flex;
                .checkInput{
                    margin-right:0.5rem;
                }
                .showInput{
                    width: 50%;
                    background-color: $btn_bgc;
                    color: #eee;
                    font-size: 1rem;
                    border-radius: 0;
                    border:none;
                    border-bottom: 1px solid #515c75;
                    padding: 5px 10px;
                    outline: none;
                    &:read-only{
                        background-color: $btn_bgc;
                        color: #eee;
                        border-bottom: none;
                    }
                    &:invalid, &:active, &:focus-visible{
                        outline: none;
                        border-bottom: 1px solid #eee;
                    }
                    &.todoChecked{
                        text-decoration: line-through;
                    }
                    &.showWorkingTime, &.showBreakTime{
                        width: 30%;
                    }
                }
                button{
                    @include todoBtn();
                    margin: 0 0.5rem 0.2rem;
                    border: none;
                    width: 5%;
                }
            }
            
        }
    }
}